html {
  width: 100%;
  height: 100%;
  background: linear-gradient(325deg,  rgb(11, 2, 2) 30%,rgb(117, 18, 18) 70%, #802222 100%);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
#container{
  color: #918f8f;
  float:right;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 520px;
  font-size:20px;
  font-weight:bold;
  font-style: italic;
  padding-right: 80px;
  padding-top: 120px;
}
.game {
  position:absolute;
  margin-top: 20px;
  margin-left: 50px;
}
.controls {
  display:flex;
  gap: 300px;
  margin-top: 20px;
}
button {
  background:black;
  color: #918f8f;
  border-radius: 20px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
}
.disabled {
  color: #757575;
}
.stats {
  color: #918f8f;
  font-size: 14pt;
  font-weight: bold;
}
.board-container {
  position: relative;
}
.board,
.win {
  border-radius: 5px;
  box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
  background: rgb(71, 13, 13) ;
  transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}
.board {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}
.board-container.flipped .board {
  transform: rotateY(180deg) rotateZ(50deg);
}
.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}
.card {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.card-front,
.card-back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: black;
  transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg) rotateZ(50deg);
  font-size: 30pt;
  user-select: none;
  text-align: center;
  line-height: 100px;
  background: #FDF8E6;
}
.card.flipped .card-front {
  transform: rotateY(180deg) rotateZ(50deg);
}
.card.flipped .card-back {
  transform: rotateY(0) rotateZ(0);
}
.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #918f8f;
  transform: rotateY(180deg) rotateZ(50deg);
}
.win-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-style: italic;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}
.highlight {
  color:rgb(71, 13, 13);
}
